@keyframes riseIn {
    from {transform: translateY(-200px);}
    to {transform: translateY(0);}
}

body {
    min-width: 300px;
    min-height: 200px;
}

p {
    color: blue;
}

.rise {
    animation: riseIn 1s ease forwards;
}