@keyframes riseIn {
    from {transform: translateY(-200px);}
    to {transform: translateY(0);}
}

body {
    min-width: 300px;
    min-height: 200px;
    background-color: #f0f0f0;
}

p {
    font-family: Tahoma, sans-serif;
}

.rise {
    animation: riseIn 1s ease forwards;
}

.scroller {
    overflow: auto;
    height: 50%;
    scrollbar-width: thin;
    scrollbar-color: lightgreen darkgreen;
    width: 90%;
}

.scroller::-webkit-scrollbar {
    width: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 8px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

